@import url("https://fonts.googleapis.com/css2?family=Acme&family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@100&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@100&family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}
:root {
  --orange: rgb(219, 89, 14);
  --blue: rgb(39, 39, 148);
  --orange-sharp: rgb(212, 141, 8);
  --lignt-greem: rgb(54, 189, 54);
  --purple: rgba(158, 18, 158, 0.842);
  --orange-light: rgba(233, 171, 57, 0.774);
  --font-s: 1.25rem;
}

.primary-nav ul {
  font-weight: 600;
  padding: 5rem 0;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  gap: 4rem;
}
.nav-list li a {
  font-weight: 900;
  font-size: 2.7rem;
  font-family: "Acme", sans-serif;
  text-decoration-thickness: 0.2rem;
}
li:nth-child(1) a {
  color: var(--lignt-greem);
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.6rem;
}

li:nth-child(3) a {
  color: var(--orange-light);
}

li:nth-child(5) a {
  color: var(--blue);
}

.primary-nav li:nth-child(6) a {
  color: var(--purple);
}

.nav-list li a:hover {
  text-decoration: none;
  color: rgb(2, 2, 2);
  font-weight: 600;
}
/* end of nav-list */

.container-for-header {
  position: relative;
  width: 100vw;
  height: 80vh;
  background: rgb(243, 241, 238);
  overflow: auto;
}
.container-for-header .description {
  width: 100rem;
  background: linear-gradient(to right, rgb(240, 52, 52), rgb(245, 128, 32));
  border-radius: 17px;
  margin: auto;
  margin-top: 10rem;
  padding-top: 0.4rem;
}

.paragraph {
  font-size: 5rem;
  padding-left: 30rem;
  color: azure;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.second-description {
  width: 100rem;
  height: 30rem;
  margin: auto;
  /* background-color: aqua; */
}

.second-description .second-paragraph {
  font-size: 3rem;
  padding-top: 2rem;
  padding-left: 30rem;
  width: 900px;
  height: 200px;
  font-family: "Roboto", sans-serif;
}
.second-paragraph.second {
  font-size: 3rem;
  padding-left: 30rem;
  margin-top: 0.3rem;
  font-family: "Roboto", sans-serif;
}
.profile {
  position: absolute;
  width: 27rem;
  height: 40rem;
  top: 130;
  left: 190;
  border-radius: 10px;
  box-shadow: -3px 7px 10px grey;
}
